* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.asilbek{
  position: relative;
  display: flex;
}
.asil_kerak{
position: absolute;
left: 5%;
}
.asil_kerak h5,h1{
  font-family: 'Montserrat', sans-serif;
}
.asil_kerak p{
  font-family: monospace;
  font-size: 9.7px;
}
.asil_kerak h1{
  font-size: 22px;
}
.asil_kerak h5{
  font-size: 8.5px;
}
.asil_kerak hr{
  width: 450px;
}
/* #asil_downArrow{
  width: 40px;
} */
.asil_qogani{
  font-family:'Montserrat', sans-serif ;
  position: absolute;
  right: -330px;
  top: 66px;
}
.asil_qogani input{
  border-radius: 8px;
  display: flex;
}
.asil_ism{
  height: 30px;
  width: 249px;
border: solid grey 1px;
}
.asil_mail{
  height: 30px;
  width: 249px;
border: solid grey 1px;
}
.asil_savol{
  height: 128px;
  width: 249px;
border: solid grey 1px;
}
.asil_tugma{
  width: 83px;
  height: 33px;
  background-color: black;
  border: 1px grey solid;
  color: rgb(225, 225, 225);
  border-radius: 8px;
}