@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500;600;700&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500;600;700&family=Manrope:wght@200&family=Rubik:wght@300&family=Ubuntu:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    z-index: 1;
    width: 90%;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .muhammadjon.logo {
    font-family: Ubuntu;
    font-size: 20px;
}

header .muhammadjon.head_elements {
    display: flex;
    align-items: center;
    gap: 40px;
    transition: 0.3s ease;
}

header .muhammadjon.head_elements a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.3s ease;
}

header .muhammadjon.call_btn_class {
    display: flex;
    transition: 0.6s ease;
}

header .muhammadjon.call_btn_class .muhammadjon.call_btn {
    width: 200px;
    height: 40px;
    border: none;
    border: 1px solid black;
    border-radius: 18px;
    background: none;
    font-weight: 600;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    transition: 0.3s ease;
}

header .muhammadjon.menu {
    transition: 0.6s ease;
    font-size: 40px;
    display: none;
}

@media(max-width: 992px) {
    header .muhammadjon.head_elements {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    header .muhammadjon.call_btn_class .muhammadjon.call_btn {
        width: 170px;
        height: 40px;
    }

}

@media(max-width: 930px) {
    header .muhammadjon.call_btn_class .muhammadjon.call_btn {
        width: 150px;
        height: 40px;
        font-size: 12px;
    }
}

.muhammadjon.get_advice {
    width: 90%;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.muhammadjon.get_advice .muhammadjon.get_advice_text {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.muhammadjon.get_advice .muhammadjon.get_advice_text .muhammadjon.muhammadjon.get_advice_text_left h1 {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    transition: 0.6s ease;
}

.muhammadjon.get_advice .muhammadjon.get_advice_text .muhammadjon.muhammadjon.get_advice_text_left h2 {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    transition: 0.6s ease;
    display: none;
}

.muhammadjon.get_advice .muhammadjon.get_advice_text .muhammadjon.muhammadjon.get_advice_text_right p {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    transition: 0.6s ease;
}

.muhammadjon.get_advice .muhammadjon.future_home {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
}

.muhammadjon.get_advice .muhammadjon.future_home .muhammadjon.button {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    border: none;
    color: white;
    margin-top: -140px;
    transition: 0.6s ease;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.muhammadjon.get_advice .muhammadjon.future_home img {
    width: 100%;
    height: 90%;
    margin-top: 40px;
    border-radius: 40px;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    transition: 0.6s ease;
}

@media(max-width: 1400px) {
    .muhammadjon.get_advice .muhammadjon.future_home .muhammadjon.button {
        width: 280px;
        height: 280px;
        margin-top: -140px;
    }
}

@media(max-width: 1350px) {
    .muhammadjon.get_advice .muhammadjon.future_home .muhammadjon.button {
        width: 250px;
        height: 250px;
        margin-top: -140px;
    }
}

@media(max-width: 1250px) {
    .muhammadjon.get_advice .muhammadjon.future_home .muhammadjon.button {
        width: 200px;
        height: 200px;
        margin-top: -110px;
        font-size: 15px;
    }

    .muhammadjon.get_advice .muhammadjon.future_home img {
        height: 70%;
    }
}

@media(max-width: 1200px) {
    .muhammadjon.get_advice .muhammadjon.future_home .muhammadjon.button {
        width: 180px;
        height: 180px;
        margin-top: -90px;
    }
}

@media(max-width: 1160px) {
    .muhammadjon.get_advice .muhammadjon.get_advice_text .muhammadjon.muhammadjon.get_advice_text_left h1 {
        font-size: 45px;
    }

    .muhammadjon.get_advice .muhammadjon.get_advice_text .muhammadjon.muhammadjon.get_advice_text_right p {
        font-size: 18px;
    }
}

@media(max-width: 1060px) {
    header .muhammadjon.head_elements {
        gap: 20px;
    }

    .muhammadjon.get_advice .muhammadjon.get_advice_text .muhammadjon.muhammadjon.get_advice_text_left h1 {
        font-size: 40px;
    }

    .muhammadjon.get_advice .muhammadjon.get_advice_text .muhammadjon.muhammadjon.get_advice_text_right p {
        font-size: 16px;
    }
}

@media(max-width: 885px) {
    header .muhammadjon.head_elements a {
        font-size: 12px;
    }
}

@media(max-width: 980px) {
    .muhammadjon.get_advice .muhammadjon.future_home .muhammadjon.button {
        width: 190px;
        height: 190px;
        margin-top: 7px;
    }

    .muhammadjon.get_advice .muhammadjon.future_home img {
        height: 80%;
    }

    .muhammadjon.get_advice .muhammadjon.get_advice_text {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .muhammadjon.get_advice .muhammadjon.get_advice_text .muhammadjon.muhammadjon.get_advice_text_left h1 {
        display: none;
    }

    .muhammadjon.get_advice .muhammadjon.get_advice_text .muhammadjon.muhammadjon.get_advice_text_left h2 {
        display: flex;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

@media(max-width: 768px) {
    header .muhammadjon.head_elements {
        display: none;
    }

    header .muhammadjon.call_btn {
        display: none;
    }

    header .muhammadjon.menu {
        display: flex;
    }
}

@media(max-width: 576px) {
    .muhammadjon.get_advice .muhammadjon.future_home img {
        width: 100%;
        height: 70%;
    }

    .muhammadjon.get_advice .muhammadjon.get_advice_text .muhammadjon.muhammadjon.get_advice_text_left h2 {
        font-size: 37px;
    }

    .muhammadjon.get_advice .muhammadjon.future_home .muhammadjon.button {
        margin-top: 0px;
    }
}

@media(max-width: 460px) {
    .muhammadjon.get_advice .muhammadjon.get_advice_text .muhammadjon.muhammadjon.get_advice_text_left h2 {
        font-size: 33px;
    }
}

@media(max-width: 387px) {

    .muhammadjon.get_advice .muhammadjon.future_home img {
        height: 55%;
    }

    .muhammadjon.get_advice .muhammadjon.future_home .muhammadjon.button {
        width: 150px;
        height: 150px;
        margin-top: 0px;
        font-size: 12px;
    }

    .muhammadjon.get_advice .muhammadjon.get_advice_text .muhammadjon.muhammadjon.get_advice_text_left h2 {
        font-size: 27px;
    }

    .muhammadjon.get_advice .muhammadjon.get_advice_text .muhammadjon.muhammadjon.get_advice_text_right p {
        font-size: 13px;
    }
}

@media(max-width: 318px) {
    .muhammadjon.get_advice .muhammadjon.get_advice_text .muhammadjon.muhammadjon.get_advice_text_left h2 {
        font-size: 24px;
    }

    .muhammadjon.get_advice .muhammadjon.get_advice_text .muhammadjon.muhammadjon.get_advice_text_right p {
        font-size: 11px;
    }
}

@media(max-width: 271px) {
    .muhammadjon.get_advice .muhammadjon.get_advice_text .muhammadjon.muhammadjon.get_advice_text_left h2 {
        font-size: 21px;
    }

    .muhammadjon.get_advice .muhammadjon.get_advice_text .muhammadjon.muhammadjon.get_advice_text_right p {
        font-size: 10px;
    }
}

.muhammadjon.side_bar {
    display: none;
    position: absolute;
    width: 240px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    right: 0px;
}

.muhammadjon.side_bar_in{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.muhammadjon.menu_text {
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    font-family: Ubuntu;
}

.muhammadjon.menu_text h2 {
    cursor: pointer;
    font-size: 40px;
}

.muhammadjon.side_bar_elements {
    margin-top: 30px;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.muhammadjon.side_bar_elements a {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 5px 35px -19px rgba(0, 0, 0, 0.26) inset;
    -moz-box-shadow: 0px 5px 35px -19px rgba(0, 0, 0, 0.26) inset;
    box-shadow: 0px 5px 35px -19px rgba(0, 0, 0, 0.26) inset;
    border-radius: 10px;
    color: black;
    font-weight: 400;
    cursor: pointer;
}